<header>
    <nav>
        <ul>
            <li><a class="artists" href="/artists">Top Artists</a></li>
            <li><a class="tracks" href="/tracks">Top Tracks</a></li>
        </ul>
        <button>Logout</button>
    </nav>
</header>