<header>
    <nav>
        <ul>
            <li>
                <select class="artists">
                    <option selected hidden>Top Artists</option>
                    <option value="short_term">Last 4 Weeks</option>
                    <option value="medium_term">Last 6 Months</option>                    
                    <option value="long_term">All Time</option>
                </select>
            </li>
            <li>
                <select class="tracks">
                    <option selected hidden>Top Tracks</option>
                    <option value="short_term">Last 4 Weeks</option>
                    <option value="medium_term">Last 6 Months</option>                    
                    <option value="long_term">All Time</option>
                </select>
            </li>
        </ul>
        <button>Logout</button>
    </nav>
</header>