<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Top Stats</title>
    <link rel="icon" href="https://www.iconsdb.com/icons/preview/orange/spotify-xxl.png">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <%- include('../partials/header') %>
    <script>
        location.href = `https://accounts.spotify.com/authorize?response_type=code&client_id=0b3237ec461e491ba223031ab73c4d23&redirect_uri=${window.location.origin}/artists&scope=user-top-read`;
    </script>
</body>
</html>